#charactersheet {
    font-size: 10pt;
    width: 1200px;
    background: #111;
    padding-bottom: 48px;
    margin-bottom: 128px;
}

#charactersheet h3, #charactersheet h2 {
    text-align: center;
}

#charactersheet h3, #charactersheet h4 {
    margin: 3px 0;
}

#charactersheet h4 {
    padding-left: 12px;
    margin: 6px 36px 3px 6px;
    padding-bottom: 3px;
    background: #333;
}

#charactersheet h2 {
    color: #c8c;
    text-shadow: 0 0 2px #d0d;
    padding: 24px 0 6px;
    margin: 12px;
    border-bottom: 1px solid #666;
}

#charactersheet h3 {
    color: #aaa;
}

#charactersheet h3.third {
    width: 350px;
    margin: 6px 50px 6px 0;
    padding: 0;
    display: inline-block;
}

#charactersheet h5 {
    margin: 2px 0;
    text-align: center;
}

#charactersheet label {
    display: inline-block;
    width: 120px;
    background: none;
    vertical-align: top;
}

#charactersheet div.dots {
    display: inline-block;
}

#charactersheet select option {
    background: #999;
    border: none;
    color: black;
}

#charactersheet .cs-block.half input, #charactersheet .cs-block.half select {
    width: 300px;
}

#charactersheet .cs-block input.short {
    width: 60px;
}

#charactersheet textarea {
    width: 70%;
    resize: vertical;
    height: 40px;
    border: 1px solid #666;
    font-size: 10pt;
    padding: 2px;
    background: none;
}

#charactersheet div.row {
    margin: 2px 0;
    padding: 2px 12px;
}

#charactersheet div.row:hover {
    background: rgba(100,100,100,0.1);
}

#charactersheet .cs-section { clear: both; }
#charactersheet .cs-block { display: block; float: left; width: 400px; }
#charactersheet .cs-block.half { width: 600px; }

#charactersheet input.specialisation {
    font-size: 9pt;
    width: 100px;
    font-style: italic;
    margin-right: 12px;
    vertical-align: bottom;
}

#charactersheet .dots img {
    margin-bottom: -3px;
    margin-top: 3px;
}

#charactersheet input.secondaryability {
    width: 112px;
    margin-right: 12px;
    font-size: 9pt;
}

#charactersheet select.lore, #charactersheet select.background {
    width: 228px;
    margin-right: 12px;
}

#charactersheet .virtue-block label {
    width: 238px;
}

#charactersheet input.apocalypticability {
    font-size: 9pt;
    width: 310px;
    margin-right: 9px;
}

#charactersheet input.apocalypticcost {
    width: 20px;
    font-size: 9pt;
    text-align: center;
    border-width: 1px;
}

#charactersheet div.dots.center {
    text-align: center;
    display: block;
}

#charactersheet div.dots.center img {
    margin-right: 3px;
}

#charactersheet .healthpenalty {
    display: inline-block;
    width: 20px;
    margin-right: 40px;
}

#charactersheet div.healthbox {
    border: 1px solid #999;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 16pt;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    width: 16px;
}

#charactersheet .health-block div.row {
    width: 260px;
    margin: 0 auto;
}


#charactersheet textarea.largetext {
    display: block;
    height: 140px;
    margin: 0 auto 12px;
    width: 90%;
}

#charactersheet .meritflaw-block .meritflaw {
    width: 320px;
    margin-right: 12px;
    font-size: 9pt;
}

#charactersheet .meritflaw-block .meritflawcost {
    width: 36px;
    font-size: 9pt;
    text-align: center;
}

#charactersheetsubmit {
    padding: 6px 24px;
    font-size: 18pt;
    font-family: "metamorphous", sans-serif;
    border: 1px solid #999;
    border-radius : 2px;
    background: #111;
    margin: 24px auto;
    display: block;
    cursor: pointer;
    font-variant: small-caps;
}

#charactersheetsubmit:hover {
    color: #111;
    background: #999;
    border-color: purple;
}

#charactersheet .cs-block.health-block input#experience {
    border: 1px solid #999;
    display: block;
    font-size: 11pt;
    margin: 0 auto;
    padding: 12px 24px;
    text-align: center;
    width: 80px;
}