body {
    background: black;
}
body, * {
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Metamorphous", sans-serif;
    font-weight: normal;
    font-variant: small-caps;
}

input {
    background: none;
    border: 1px solid #666;
}

input, select {
    background: none;
    border: #666 solid;
    border-width: 0 0 1px 0;
    vertical-align: top;
}