body {
    background: black;
}
body, * {
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Metamorphous", sans-serif;
    font-weight: normal;
    font-variant: small-caps;
}

input {
    background: none;
    border: 1px solid #666;
}

input, select {
    background: none;
    border: #666 solid;
    border-width: 0 0 1px 0;
    vertical-align: top;
}


#wod .select2-container .select2-choice {
    background: none;
    border-width: 0 0 1px;
    border-radius: 0;
    padding-right: 24px;
    border-color: #666;
    height: 21px;
    line-height: 21px;
}

#wod .select2-container.select2-container-active .select2-choice {
    border: none;
    background: #111;
    box-shadow: none;
}

#wod .select2-arrow {
    margin-top: -4px;
}

#wod .select2-container * {
    font-size: 10pt;
}

#wod .select2-container .select2-choice .select2-arrow {
    background: none;
    border-radius: 0;
    border:none;
}

#wod .select2-drop {
    background: #111;
    border-radius: 0 0 2px 2px;
    font-size: 10pt;
    border: none;
}